WIFI_SSID=YourUpstreamWiFi
WIFI_PASSWORD=YourWiFiPassword
AP_SSID=TollGate
AP_PASSWORD=
PORT_A=/dev/ttyACM0
PORT_B=/dev/ttyACM1
MINT_URL=https://nofee.testnut.cashu.space
LNURL_URL=https://redeem.cashu.me/.well-known/lnurlp/tollgate
TEST_MINT=nofee.testnut.cashu.space
PRICE_PER_STEP=21
STEP_UNIT=milliseconds
STEP_SIZE=60000
